{% extends 'base.html.twig' %}

{% block body %}


<div class="card-item-neumo">
    <a class="float-right action-button-neumo btn" href><i class="fas fa-plus"></i></a>
    <h2>Questionnaires</h2> 
</div>
<br>


{% for questionnaire in questionnaires %}
<div class="card-item-neumo" id="{{ questionnaire.libelle }}">
    <a class="float-right action-button-neumo btn" href="javascript:delete_application('{{ questionnaire.id }}')"><i class="fas fa-trash-alt"></i></a>
    <a class="float-right action-button-neumo btn" href="{{ path('application_edit', {'id_application': questionnaire.id}) }}"><i class="fas fa-edit"></i></a>
    <h2>{{ questionnaire.libelle}}</h2>
    <hr>
    <p>{{ questionnaire.description}}</p>
    
    <div class="row">
        <div class="col-md-5 button-black-flat">
        <a class="text-center " href="#">
        <div>
            Prévisualiser questionnaire
        </div>
            
        </a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 button-black-flat">
            <a class="text-center " href="#">
            <div>
                Prévisualiser compte-rendu
            </div>
                
            </a>
            </div>
    </div>
</div>

{% endfor %}

{% endblock %}