{% extends 'base.html.twig' %}

{% block body %}

<div class="card-item-neumo">
    <a class="float-right action-button-neumo btn" href><i class="fas fa-plus"></i></a>
    <h2>Utilisateurs</h2> 
</div>
<br>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr  class="text-center">
        <th> Nom </th>
        <th> Prénom </th>
        <th> Email </th>
        <th> Section </th>
        <th> Applications </th>
        <th> Opérations </th>
    </tr>

</thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td> {{ user.lastName }}</td>
        <td> {{ user.firstName}}</td>
        <td> {{ user.email }}</td>
        <td> 
            {% for section in user.sections %}
                {{ section.libelle }} <br>
            {% endfor %}
        </td>
        <td> 
            {% for application in user.applications %}
                {{ application.libelle }} <br>
            {% endfor %}
        </td>
        <td class="text-center">
            <i class="fas fa-search action-button-neumo"> </i>
            <a href="{{ path('user_edit', {'id_user': user.id }) }}">
                <i class="far fa-edit action-button-neumo"> </i>
            </a>
            <a href="javascript:delete_application('{{ user.id }}')">
                <i class="far fa-trash-alt action-button-neumo"> </i>
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type='text/javascript'>
    function delete_user(id_user){
        $.ajax({
            url: '{{ path('user_delete') }}',
            type: "POST",
            dataType:"json",
                data: {
                    "idUser": id_user
                },
                async: true,
                success: function (data){
                    $("div").remove('#application_'+ data.idUser);
                }
        })
    }
</script>
{% endblock %}